body {
    color:rgb(252 230 157);
    background:rgb(43 34 52);
    font-family: "Comic Neue", cursive;
}


header {
    border-bottom: solid 2px rgb(17, 214, 240);
    padding: 15px;
    padding: 15px;
    font-size: 32px;
    color: rgb(218, 218, 20);
}
section{
    background:rgb(39 34 39);
    padding-bottom: 60px;
    padding-top: 70px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}
h1 {
    font-size: 40px;
}
p {
    font-size: 25px;
}
img{
    height: 200px;
}
.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}
